<a class="logo"> 
            <img src="/images/logopdart2.png" alt="logopd" width="300px">
        </a>

  <div class="products"> 
  <div class="produtos-text">
    <h1>Conheça nossos produtos!</h1>
    
    <img src="{{product.image}}" alt="{{product.name}}">

    <p><b>{{product.name}}</b></p>
    <p>R$ {{product.price}}</p>

    <p>Descrição: Design único e ideal para o seu ambiente!
      <br>
      material:xxxxx medidas:xxxxxx
    </p>
  </div>
  
  <div class="actions">
    <a class="btn-voltar" href="/"><i class="bi bi-reply"></i></a>
    
    <form class="ipt-remove" action="/products/remove/{{product.id}}" method="POST">

    {{#if session.userid}}
    {{#if session.isSupplier}}
      <input type="submit" value="Excluir!"> 
    {{/if}}

    {{/if}}
      
    </form> 
    <form class="ipt-addcart" method="POST" action="/products/addcart">
      <input type="hidden" name="name" value="{{product.name}}">
      <input type="hidden" name="price" value="{{product.price}}">
      <input type="hidden" name="image" value="{{product.image}}">
      {{#if session.userid}}
       {{#if session.isSupplier}}

       {{else}}
      <input type="submit" value="+ Adicionar ao Carrinho!">
        {{/if}}
        {{/if}}
    </form>
  </div>
</div>
